.col-1{
    width:calc(100%/12*1)
}

.col-2{
    width:calc(100%/12*2)
}
.col-3{
    width:calc(100%/12*3)
}

.col-4{
    width:calc(100%/12*4)
}


.col-5{

    width:calc(100%/12*5)
}


.col-6{
    width:calc(100%/12*6)

}

.col-7{
    width:calc(100%/12*7)
}

.col-8{
    width:calc(100%/12*8)
}

.col-9{
    width:calc(100%/12*9)
}

.col-10{
    width:calc(100%/12*10)
}

.col-11{
    width:calc(100%/12*11)
}
    

.col-12{
    width:calc(100%/12*12)
}


/* cedvel qurmaq ucun class */
.container{
    width: 1200px;
    margin: auto;
}
/* sutun ve setirler ucun class   */
/* 12 setir ucun 12 col yaziram */

.row{
    display: flex;
  
}
.flex-colum{
    flex-direction: column;
}

.flex{
    display: flex;
}

.content-center{
    justify-content: center;

}

.content-between{
    justify-content: space-between;

}

.item-center{
    align-items: center;
    
}

.aligin-center{
    text-align: center;
}




.tb-hover:hover{
    background-image:linear-gradient(#00ffff, #99ff99) ;

}

.tb-hover{
    font-size: 25px;
    margin: 10px;
    border: 1px solid #555;
    color: white;
    font-weight: 400;
}



 .tb-hover .icon{
    font-size: 45px;
}
.tb-hover .icon-hov:hover{
    color: green;
}

.pagination{
justify-content: center;
    display: flex;
    
}

.pagination-item{
    width: 10px;
    height: 10px;
    background:black;
    border-radius: 50%;
    margin: 10px;
}


 .icon a :hover  {
     color: green;
 }



.box{
    text-align: center;

    
}

.box-1 ul li{
    list-style: none;  
    margin: 0px 40px; 
    cursor: pointer;
}
.box-2{
    margin: 10px ;
    margin-left: 40px;
    margin-top: 15px;
    
    
}

.box-2 img{
    width: 550px;
    height: 300px;
}
    


.box-1 ul {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    margin: 10px;
}

 .id-color {
    color: #35a22c;
    font-size: 20px;
}

.font-color{
    color: #333;
    font-size: 40px;
    font-weight: 500;
}
.box-4 .font-size-1{

    font-size: 10px;
    font-weight: 500;

}

.box-2:hover{
    cursor: pointer;
}

.box-3{
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    margin: 0px;
}


.box-3 .date{
    font-size: 25px;
    font-weight: 600;
    color: #555;
    border: solid 2px rgba(255,255,255,.5);
    border-color: #35a22c;
    border-width: 3px;
}

.box-3 .text-name{
    font-size: 25px;
    font-weight: 500;
    color: #ffff;
    margin: 10px;

}

.box-3 .text-size{
    color: #ddd;
    font-size: 18px;
    font-weight: 700;
    /* border-block-end: 1px solid black; */

}

.box-4{
    text-align: center;
    margin: 20px;
}

.box-5 img{
    border-radius: 50%;
    margin-bottom: 48px;
    margin-right:  -65px; ;
    width: 60px;
    height: 60px;
}

.box-5{
    border: 1px solid grey;
    margin: 10px;
    height: 400px;
}

#my_services {
    height: 600px;
    background-image: url(../img/fon-photo-2.jpg);
    position: relative;
    border: 1px solid black;
    object-fit: cover;
    filter: blur() brightness();
    
}



.my-services{
    right: 0px;
    position: absolute;
    display: flex;
}

/* pt section start */
#pt{
    width: 100%;
    height: auto;
    margin: 10px;
}

#education{
height: auto;
background-image: url(../img/bg-photo-1.jpg);
position: relative;
width: 100%;
}


#testimonials{
height: auto;
width: 1350px;
margin: auto;
}

#static-bar{
    margin: auto;
    height: 250px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
   
}

.st-box{
    color:#fff;
    
    
}

.st-box .font-size-{
    font-size: 15px;
    font-weight: 400;
}

.st-box-1{
    color:#fff;

}

.contact-contanier{
    text-align: center;
}


.question-bar{
    text-align: center;
}

.element-bar  input{
width: 400px;
height: 40px;
margin: 10px;
}

.element-bar-1 input{
    width: 200px;
    height: 60px;
    color: #fff;
    background-color: #35a22c;
    cursor: pointer;
    margin: 20px 10px;
    
}


.icon-bar {
    width: 800px;
    height: 80px;
    background: #f5f5f5;;
}

.icon-style{
    font-size:1.33333333em;
    color:green;
    margin: 20px;

}


.p-style{
    font-style: normal;
    font-size: 22px;
    color: #555;
    display: contents;
}

.info-bar-1  {
    margin: 10px;
    background: #f5f5f5;
    margin: 60px 0px;
    width: 800px;
    height: 80px;
}
.info-bar-2{
    background: #f5f5f5;
   margin-top: -45px;
    width: 800px;
    height: 80px;
}
    
.info-bar-3{

    background: #f5f5f5;
    margin-top: 20px;
     width: 800px;
     height:80px;

}


 .info-bar-3:hover{
    text-decoration: underline;
    cursor: pointer;
}

.info-bar-2:hover{
    text-decoration: underline;
    cursor: pointer;

}

.map{
margin-top: 55px;

}



#end-contanier{
    width: 100%;
    height: 221px;
    margin-top: 80px;
    background: #333    ;
}


.end-bar{
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

  .icon-detail:hover{
    color:#35a22c;
    cursor: pointer;
    
}

.icon-detail{
    margin: 50px;
    font-size: 35px;
    color: #f5f5f5;
    
}


.p-end-style{
text-align: center;
color: #cccccc;
font-size: 13px;
font-weight: 400;
}

