body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
#page{
    position: relative;
}
/* tob bar start */
#tb{
    background: rgba(0, 0, 0, 0.0);
    margin: auto;
}


.tb-continer{
    padding: 10px 20px;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 2 ;
    
    align-items: center;

}

  .tb-setting ul {
    display: flex;
    list-style: none;
    margin-left: 30px;
    
     
}
.tb-setting ul li {
    margin-left: 30px;
   
}
 
.tb-setting ul li a{
    text-decoration: none;
    color: #fff;
    
}

.tb-setting ul li  {
border-bottom: 1px solid white;
}



.bg-header {
    background-image: url(../img/bg-header.jpg);
    width: 100%;
    height: 700px;
    position: relative;
}
/* top bar end */

/* nb-continer start */
#nb-continer{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
#nb-continer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.nb-bar{
    text-align: center;
}
.nb-photo {
    display: inline-block;
}
.nb-photo img{
    border-radius: 50%;
}
.nb-info h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: 400;
    text-align: center ;
    color: #fff;
    cursor: auto;
}
/* site-continer section stlye */
.my-site span{
    color: #35a22c;
    font-size: 14px;

}

.my-site h5 {
        text-align: center;
        transform: translate(10px ,90px);
        
    }
 
.my-site h2{
    text-align: center;
    transform: translate(10px, 60px);
    font-size: 40px;
    font-weight: 500;
  
}

.about-me{
    width: 100%;
    height: 160px;
    text-align: center;
    transform: translate(13px, 27px);
}


.skill-item{
    width: 100%;
    height: 270px;
    transform: translate(2%, 0%);
    
}

.row-1{
    display: grid;
}



.info{
    display: grid;
}

.skill-bar{
    width: 50%;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
}

.skill-bar .bar{
    margin: 20px 0;
}

.skill-bar .bar:first-child{
    margin-top: 0px;

}


.skill-bar .bar .info{
    margin-bottom: 5px;
}




.skill-bar .bar .info span {
    font-size: 17px;
    font-weight: 500;

}

.skill-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 50%;
    background:#f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.5),
                     0px 1px  rgba(255, 255, 255, 0.8);
animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;                 
}


@keyframes animate{
100%{
    transform: scaleX(1);
}
}


.bar .progress-line span {
    height: 100%;
    background:#6665ee;
    border-radius: 10px;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s  1s cubic-bezier(1,0,0.5,1) forwards;  
}


.progress-line.Design  span{
    width:80%;
    
    }
 .progress-line.Branding span{
  width:70%;

}
    
.progress-line.Marketing  span{
    width: 70%;
       
    }
 .progress-line.Devolopment  span{
    width:90%;
    }

.progress-line.Photography span{
    width:90%;
}


.progress-line.SEO  span {
    width:75%;
    content: "44%";
}


.bar .progress-line span:before{
    position: absolute;
    height: 0;
    width: 0;
    right: 0;
    top: -10px;
    /* content: "10%"; */
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color:#000 ;
    
}

.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    background: #000;
    color: #fff;
    font-size: 12px;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0,5s 1.5s linear forwards;
}


    
    



