<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Project</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="stylesheet" href="/static/main/css/grid.css">
  <link rel="stylesheet" href="/static/main/css/main.css">
  <link rel="stylesheet" href="/static/main/css/style.css">
  <link rel="stylesheet" href="/static/main/css/responsive.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body>
  <section id="page">
    <!-- top bar start -->
    <section id="tb">
      <div class="tb-continer">
        <div class="tb-continer-logo">
          <a href="">
            <img src="/static/main/img/logo-light.png" alt="" title="website logo1">
            <img src="/static/main/img/logo-dark.png" alt="website-logo-2">
          </a>
        </div>
        <div class="tb-bar"></div>
        <div class="tb-setting">
          <ul>
            <li class="home-border"><a href="#tb-bar">Ana səhifə</a> </li>
            <li><a href="#site-continer">Haqqımda</a></li>
            <li><a href="#my_services">Servis</a></li>
            <li><a href="#pt">Portfolio</a></li>
            <li><a href="#education">Təcrübələrim</a></li>
            <li><a href="#contact-info">Əlaqə</a></li>
          </ul>
        </div>
      </div>
      <!-- top bar end -->
      <div class="bg-header"></div>
    </section>

    <!-- nb-continer start -->
    <section id="nb-continer">
      <div class="nb-bar">
        <div class="nb-photo">
          <img src="/static/main/img/fon-photo.jpg" alt="" title="my photo">
        </div>
        <div class="nb-info">
          <h3>Salam, Mən Mirzəyev Mehman</h3>

        </div>
      </div>

    </section>
  </section>

  <div class="animation-text">
    <span class="txt-type" data-wait="3000" data-words='["Desinger","Programmer," "Photographer"]'></span>
  </div>

  <!-- site-continer start -->
  <section id="site-continer">
    {% for aboutname in aboutnames %}
    <div class="my-site">
      <h5>
        <span>{{aboutname.ab_name}}</span>
      </h5>

      <h2>
        {{aboutname.about_heading_name}}
      </h2>
    </div>

    <div class="about-me">
      <p>
        {{aboutname.about_desc_name}}
      </p>
    </div>
    {% endfor %}

    
    <div class="skill-item">
      <div class="skill-bar">
        <div class="row">
          <div class="col-4">
            {% for skill in skills %}
            <div class="bar">
              <div class="info">
                <span>{{skill.skill_name}}</span>
                <span class="span-style">{{skill.skill_persantage}}</span>
              </div>
              <div class="progress-line Design"><span></span></div>
            </div>
          </div>
   {% endfor %}




      </div>
    </div>

 
  </section>


 <!-- site-continer end -->

  <!-- my_services section start -->


  <section id="my_services">

    <div class="overline-2">
      <div class="row">
  {% for service  in services %}
        <div class="box-head-contanier">
        
          <div class="box-header">
           <span class="id-color  box-word-style ">{{service.services_subheading}}</span>
            <h1 class="h-style box-word-style-1 ">{{service.services_heading}}</h1>
          </div>

        </div>

      </div>
{% endfor %}

      <div class="row-my_services ">


        <div class=" box-contanier">
          <div class="box">
            {% for servicebox in serviceboxs %}
            <div class="tb-hover">
              <a class="icon-design"><i class="{{servicebox.services_icon}}"></i></a>
              <h3> {{servicebox.services_title_heading}}</h3>
              <p>
              {{servicebox.services_title}}
              </p>

            </div>

          </div>

        </div>
        {% endfor %}
       </section>

  <div class="pagination">
    <div class="pagination-item">
      <button class="btn" id="right"></button>
    </div>
    <div class="pagination-item">
      <button class="btn" id="left"></button>
    </div>
  </div>
  </div>





  <!--  my_services section end -->

  <!-- pt-portfolio -->





  <section id="pt">
    <div class="pt-contianer">

      <div class="row">
        <div class="col-12">

          {% for porthead in portheads %}
          <div class="box-header">
            <span class="id-color"> {{porthead.portfolio_subheading}}</span>
            <h3 class="h-style">{{porthead.portfolio_heading}}</h3>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}


    <div class="row">

      <div class="col-12">
        <div class="box-header-1">

          <ul>
            {% for header in headers%}

            <li><a href=""></a>{{header.portfolio_menu_name}}</li>
            {% endfor %}

          </ul>
        </div>

      </div>


    </div>


    <div class="picture-box">
      <div class="row d-flex justify-content-center">
        <div class="col-4">
          {% for post in posts %}
          <div class="box-2 ">
            <img src="static/uploads/{{post.project_img}}  " title="portfolio-photo">

            <div class="image">
              <div class="overlay">
                <div class="text">{{post.project_name}}</div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </div>
    </div>
  </section>



  <!-- pt-section end -->

  <!-- education- section start -->

  <section id="education">
    <div class="overline-3">

      <div class="row">

        <div class="col-12">

          <div class="box-3">
            <h3>Experiences</h3>
            <h3>Education</h3>

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-12">

{% for desc in descs %}


          <div class="box-3">
            <span class="date">{{desc.start_date}}</span>
            <span class="date">{{desc.end_date}}</span>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="col-12">

          <div class="box-3">

            <h5 class="text-name">{{desc.title_header}} </h5>

            <!-- <h5 class="text-name"> Specialize App Design, Harvard University</h5> -->

          </div>

        </div>

      </div>

      <div class="row">

        <div class="col-12">

          <div class="box-3">
            <p class="text-size">{{desc.desc}}<br>
            </p>
            <!-- <p class="text-size">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br> -->
              <!-- doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto. -->
            <!-- </p> -->
          </div>

        </div>

      </div>
{% endfor %}

    <!-- education section end -->

  </section>
  <!-- education-section end -->

  <!-- testimonials- section start -->


  <section id="testimonials">

    <div class="test-contanier">

      <div class="row">

        <div class="col-12">
 {% for feed in feeds %}
 

          <div class="box-4">
            <span class="id-color">{{feed.testi_subheading}}</span>
            <h2 class="h-style">{{feed.testi_heading}} </h2>
          </div>

        </div>

      </div>
{% endfor %}

      <div class="row">

        <div class="col-3">

          <div class="box-5">
            {% for test in tests %}
            
           

            <img src="static/uploads {{test.commenter_img}} "title="" >
            <span class="id-color margin-id">{{test.commenter_name}}</span>
            <p class="h-style-box-5">{{test.commenter_title}}</p>

          </div>

        </div>

  {% endfor %}

      <div class="col-12">
        <div class="pagination-1">
          <div class="pagination-item"></div>
          <div class="pagination-item"></div>
        </div>
      </div>
    </div>



    </div>

  </section>


  <!-- testimonials section end -->

  <!-- st-static bar section start -->

  <section id="static-bar">

    <div class="row">
      <div class="col-12">

        <div class="st-box">
          <h2 class="margin-box">8240</h2>
          <span>Hours of Works</span>
        </div>

      </div>

    </div>


    <div class="row">
      <div class="col-12">

        <div class="st-box">
          <h2 class="margin-box">315</h2>
          <span>Projects Done</span>
        </div>

      </div>

    </div>


    <div class="row">
      <div class="col-12">

        <div class="st-box">
          <h2 class="margin-box">250</h2>
          <span class="span-margin">Satisfied Customers</span>
        </div>

      </div>

    </div>


    <div class="row">
      <div class="col-12">

        <div class="st-box">
          <h2 class="margin-box">32</h2>
          <span>Awards Winning</span>
        </div>

      </div>

    </div>




    </div>
  </section>

  <!-- st-bar end -->



  <section id="contact-info">

    <!-- ct-contact -->

    <div class="contact-contanier">

      <div class="row">

        <div class="col-12">
{% for contact  in contacts %}


          <div class="box-4">
            <span class="id-color">{{contact.contact_subheading_name}}</span>
            <h2 class="h-style">{{contact.contact_heading_name}}</h2>
          </div>

        </div>


      </div>

    </div>

{% endfor %}

    <div class="row">

      <div class="col-6">

        <div class="question-bar">
          <div class="element-box">

            <form action="">
              <div class="element-bar">
                <input type="text" placeholder=" Adınız" class="p-style-1 ">
              </div>

              <div class="element-bar">
                <input type="email" placeholder=" Email" class="p-style-1">
              </div>


              <div class="element-bar">
                <input type="tel" placeholder=" Əlaqə nömrəsi" class="p-style-1">
              </div>

              <div class="element-bar-2 ">
                <textarea cols="55" rows="10" placeholder="Mesaj buraxın" class="p-style-1"></textarea>
              </div>

              <div class="element-bar-1">
                <input type="button" value="ƏLAVƏ EDİN">

              </div>


          </div>

          </form>

        </div>



      </div>

      <div class="col-6">

        <div class="info-box">
{% for info in infos %}


          <div class="info-bar">

            <span class="icon-style">
              <i class="{{info.contact_icon}}"></i>
              <p class="p-style">{{info.contact_desc}}</p>

            </span>
          </div>

{% endfor %}
          <div class="row">

            <div class="col-6">

              <div class="map-size">
                <div class="map">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25214.351955908594!2d144.93916650352472!3d-37.81829399866787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sid!4v1606280383060!5m2!1sen!2sid"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
              </div>
            </div>

          </div>


        </div>

      </div>
  </section>

  <section id="end-contanier">

    <div class="end-bar">
      {% for icon in icons %}
      
     
      <div class="end-bar-1">
        <a href="#"><span class="icon-detail"><i class="{{icon.social_icon}}"></i></span></a>
      </div>

    <div class="p-end">
      <a href="#"></a>
      <p class="p-end-style">© Copyright 2019 - Profession by Designesia</p>
    </div>
 {% endfor %}
  </section>



  </section>
  </section>

  <script src="/Project/javascirpt/script.js"></script>

</body>

</html>