{% extends "admin/base.html" %}

{% block content %}

<h3> Add contact </h3>
<form action="/admin/contact" method='POST'>
    <input type="text" class="form-control my-2"name="contact_icon"placeholder="contact icon">
    <input type="text" class="form-control my-2"name="contact_desc"placeholder=" contact_desc">    
    <input type="submit" class="btn btn-primary" value="Add contact">

</form>
<hr>
<h3 class="my-3"> contact </h3>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>contact icon</th>
            <th>contact desc</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for info  in infos %}

        <tr>
            <td scope="row">{{info.id}}</td>
            <td>{{info.contact_icon}}</td>
            <td>{{info.contact_desc}}</td>
            <td>
                <a href="/admin/contactdelete/{{info.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/contactupdate/{{info.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>


{% endblock %}