{% extends "admin/base.html" %}

{% block content %}

<h3>Add Experience</h3>
<form action="/admin/experience" method='POST'>
    <input type="text" class="form-control my-2"name="start_date"placeholder="start date">
    <input type="text" class="form-control my-2"name="end_date"placeholder="end date">
    <input type="text" class="form-control my-2"name="title_header"placeholder="title header">
    <input type="text" class="form-control my-2"name="desc"placeholder="desc">
    <input type="submit" class="btn btn-primary" value="Add Experience">

</form>
<hr>
<h3 class="my-3"> Experience</h3>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>start date</th>
            <th>end date</th>
            <th>title hidder</th>
            <th>desc</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for desc  in descs %}

        <tr>
            <td scope="row">{{desc.id}}</td>
            <td>{{desc.start_date}}</td>
            <td>{{desc.end_date}}</td>
            <td>{{desc.title_header}}</td>
            <td>{{desc.desc}}</td>
            <td>
                <a href="/admin/experincedelete/{{desc.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/experienceupdate/{{desc.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>


{% endblock %}