{% extends "admin/base.html" %}

{% block content %}

<form action="/admin/experienceupdate/{{desc.id}}" method='POST'>
<input type="text" class="form-control my-2" name="start_date" placeholder="start date" value="{{desc.start_date}}">
<input type="text" class="form-control my-2" name="end_date" placeholder="end date"value="{{desc.end_date}}">
<input type="text" class="form-control my-2" name="title_header" placeholder="title header"value="{{desc.title_header}}">
<input type="text" class="form-control my-2" name="desc" placeholder="desc"value="{{desc.desc}}">
<input type="submit" class="btn btn-primary" value="services head update">

</form>


{% endblock %}