{% extends "admin/base.html" %}

{% block content %}

<h3>Add skill-bar</h3>
<form action="/admin/skill" method='POST'>
    <input type="text" class="form-control my-2" name="skill_name" placeholder="skill name">
    <input type="text" class="form-control my-2" name="skill_persantage" placeholder="persantage">
    <input type="submit" class="btn btn-primary" value="Add skill">

</form>
<hr>
<h3 class="my-3"> Skill-bar</h3>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>skill name</th>
            <th>persantage</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for skill in skils %}

        <tr>
            <td scope="row">{{skill.id}}</td>
            <td>{{skill.skill_name}}</td>
            <td>{{skill.skill_persantage}}</td>
            <td>
                <a href="/admin/skilldelete/{{skill.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/skillupdate/{{skill.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>


{% endblock %}