{% extends 'admin/base.html' %}  

{%   block content %}
<h3 class="my-3" >İstifadəcilər</h3>
<form action='/admin/user-info'  method='POST' >
<input type="text" class="form-control my-2" name="user_name" placeholder="Adınız">
<input type="text" class="form-control my-2" name="user_email" placeholder="Email">
<input type="text" class="form-control my-2" name="user_phone" placeholder="Əlaqə nömrəsi">
<input type="textarea" class="form-control my-2" name="user_message" placeholder="Mesaj buraxın">
<input type="text" class="form-conrol my-2 "  name="user_adress"  placeholder="Ünvan">
 <input type="text" class="form-conrol my-2 "  name="resume_link"  placeholder="resume-link">
<input type="text" class="form-conrol my-2 "  name="google_map"  placeholder="google-map">
<hr>
<input type="sumbit" class=" btn btn-primary"  value="Əlavə et">
</form>
<hr>
<h3 class="my-3" >ƏLAVƏ EDİLƏN</h3>
 <table class="table">
     <thead>
         <tr>
             <th>id</th>
             <th>İstifadəcilər</th>
         </tr>
     </thead>
     <tbody>
      
        {% for test in test %}
        
        <tr>
            <td scope="row">{{test.id}}</td>
            <td> {{test.Adınız}}</td>
            <td>
                <a href=""> Delete</a>
                <a href="">Update </a>
            </td>
        </tr>
        {% endfor %}

     </tbody>
 </table>



{% endblock %}


    