/* planset ucun*/
@media only screen and (max-width :992px){

}

/* mobil telefonlar ucun */

@media only screen and (max-width :768px){
.tb-setting ul {
    display: none;
}

.skill-item{
    width: 100%;
}

  .skill-item  .skill-bar{
    flex-direction: column;
}

}
